@font-face {
    font-family: Pop-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Pop-light;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Pop-medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Pop-reg;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Pop-bold2;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
.container {
    width: 85%;
    max-width: 1300px;
    margin: auto; 
}
body {
    font-family: Pop-medium;
}
a {
    cursor: pointer;
    text-decoration: none;
}
button {
    cursor: pointer;
    outline: none;
}
.section {
    padding: 168px 0px;
}
.title {
    font-size: 50px;
    letter-spacing: 4px;
}
/*верхнее меню*/
.header__up {
    background-color: #ba0000;
    color: white;
}
.sel {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-family: Pop-medium;
}
.sel-color {
    color:#ba0000;
}
.hero__button {
    font-family: Pop-bold;
}
.header-one__info {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}
.header-one__info-text_2 {
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.header-one-text {
    padding: 15px 0px;
    font-size: 15px;
}
.hero__contact {
    background: url(../img/icon.svg) no-repeat center / cover;
}
/*нижнее меню*/
.header__down {
    background-color: #ffcc00;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu__logo {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
.menu__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}
.nav__item {
    text-transform: uppercase;
    font-size: 15px;
    padding: 45px 45px;
    text-decoration: none;
    color: #ba0000;
    position: relative;
}
.nav__item:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0px;/*задаём длинну линии до наведения курсора*/
	height: 5px; /*задаём ширину линии*/
    margin-top: 40px;
	background-color: #ba0000; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}
.nav__item:hover:after,
.nav__item:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
/*hero*/
.hero {
    position: relative;
    background: linear-gradient(to right, #ba0000 40%, transparent),
    url(../img/bg_hero.png) no-repeat center / cover;
}
.hero__title {
    font-size: 70px;
    color: white;
    line-height: 1.2;
    margin-bottom: 75px;
    position: relative;
}
.hero__title::before {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    width: 100px;
    height: 3px;
    border-bottom: 5px solid #ffcc00;
}
.hero__subtitle {
    max-width: 700px;
    width: 100%;
    margin-bottom: 35px;
    font-size: 20px;
    color:#ffcc00;
}
.hero__text__down {
    color: white;
    margin-bottom: 35px;
    font-size: 28px;
}
.hero__button {
    padding: 20px 45px;
    border: 1px solid ;
    font-size: 17px;
    background: transparent;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
}
.hero--primary {
    position: relative;
    color: #ba0000;
    background-color:#ffcc00;
    border: none;
}
.hero--primary:hover {
    box-shadow: #ffcc00 0 0 15px;
    transition: 0.4s;
}
.button-margin {
    margin-left: 30px;
}
/*services*/
.services__title {
    color: #ba0000;
    margin-bottom: 110px;
    position: relative;
    z-index: 3;
}
.services__title__back {
    position: absolute;
    top: 1102px;
    left: 360px;
    font-size: 140px;
    font-family: Pop-bold;
    z-index: 2;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #f8f8f8;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    max-width: 300px;
    width: 100%;
    margin: 10px;
}
.card__img {
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
}
.card__title {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Pop-bold;
    color: #ba0000;
}
.card__subtitle {
    color: #898989;
    font-family: Pop-light;
}
.card__read {
    margin-top: 20px;
    font-family: Pop-bold;
    color: black;
}
.services__card_1 {
    background-color: #ba0000;
    padding: 40px;
    height: 398px;
}
.services__card__title_1 {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: Pop-bold;
    color:white;
    position: relative;
}
.services__card__title_1::before {
    content: '';
    position: absolute;
    top: 55px;
    left: 0;
    width: 75px;
    height: 1px;
    border-bottom: 1px solid #ffcc00;
}
.services__card__subtitle_1 {
    color:white;
}
.services__button {
    padding: 20px 45px;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #ba0000;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: Pop-bold;
    margin-top: 115px;
}
/*provider*/
.provider {
    background: linear-gradient(to bottom, black, transparent, #ffcc00 100% , transparent),
    url(../img/plane2.png) no-repeat center / cover;
    margin-bottom: 300px;
}
.provider__title {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
}
.provider__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin-bottom: -377px;
}
.provider__card {
    margin-right: 0px;
    max-width: 370px;
    width: 100%;
}
.card-main-p {
    max-width: 380px;
    width: 100%;
}
.card__text {
    max-width: 370px;
    width: 100%;
    background-color: white;
    padding: 25px;
    margin-top: -10px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
}
/*express*/
.express {
    padding-bottom: 100px;
}
.express__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.express__form {
    width: 570px;
    height: 530px;
    background: #ba0000;
}
.express__content {
    align-items: flex-end;
}
.form__variables {
    display: flex;
    justify-content: space-between;
}
.button__form-text-title {
    padding: 15px 50px;
    width: 50%;
    border: none;
    background: #b90000;
    color: white;
    text-transform: uppercase;
    font-family: Pop-bold;
    font-size: 16px;
    letter-spacing: 2px;
}
.button__form-text-title:hover {
    background: #ffcc00;
    color: #b90000;
    box-shadow: #ffcc00 0 0 15px;
    transition: 0.4s;
}
.form__content {
    padding: 50px;
}
.form__buttons {
    margin-bottom: 25px;
}
.form__buttons:last-of-type {
    margin-bottom: 0px;
}
.button__form {
    padding: 10px 20px;
    background: transparent;
    outline: none;
    color: white;
    border: 3px solid white;
    font-size: 16px;
    font-family: Pop-light;
    text-transform: uppercase;
    text-align: left;
}
.button__form-text {
    width: 87%;
}
.button__form-right {
    width: 13%;
    margin-left: -0.7em;
}
.button__form-right:hover {
    background: #ffcc00;
    transition: 0.4s;
}
.form__text {
    transform: rotate(90deg);
}
.express__img {
    height: 490px;
    max-height: 100%;
    position: relative;
}
.express__img::before {
    content: '';
    position: absolute;
    top: -35px;
    left: -35px;
    width: 390px;
    height: 450px;
    border: 20px solid #ffcc00;
    z-index: 2;
}
.express__img-main {
    width: 100%;
    max-width: 430px;
    height: 490px;
    max-height: 100%;
    position: relative;
    z-index: 3;
}
.express__gradient::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
	height: 100%;  
    z-index: 4;
    background-image: linear-gradient(to top, #ffcc00 6% , transparent);
}
.express__gradient::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px; 
    width: 135px;
    height: 40px;
    z-index: 5;
    background-image: url(../dhl_logo.png) ;
}
/*excel*/
.excel {
    background: #ba0000;
    padding: 100px 0px;
}
.excel__block {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.excel__title {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.excel__subtitle {
    max-width: 700px;
    width: 100%;
    font-family: Pop-light;
    font-size: 16px;
}
.excel__button {
    display: flex;
    align-items: center;
}
.button__excel {
    color: white;
    background-color: #a00000;
    padding: 20px 35px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: Pop-bold;
    text-transform: uppercase;
}
.button__excel:hover {
    box-shadow: #ff6e6e 0 0 15px;
    transition: 0.4s;
}
/*firms*/
.firms {
    padding: 70px 0px;
}
.firms__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.firm__content {
    background-color: #f9f9f9;
    padding: 40px 30px;
    border: 1px solid #eedcdc;
    margin: 5px;
}
.firm__content-1 {
    padding: 46px 33px;
}
.firm__content-2 {
    padding: 40px 35px;
}
.firm__content-3 {
    padding: 39px 35px;
}
.firm__content-4 {
    padding: 47px 35px;
}
.bitton__excel-hover:hover {
    border: 1px solid #b90000;
    transition: 0.4s;
}
/*footer*/
.footer {
    position: relative;
}
.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.footer__content {
    max-width: 1000px;
    width: 100%;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__menu-f {
    margin-right: 90px;
}
.footer__menu-3:last-of-type {
    margin: 0;
}
.menu__footer {
    display: flex;
    flex-direction: column;
}
.footer__menu__title {
    color: #ba0000;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Pop-bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.menu__item-footer {
    color: #777777;
    text-transform: uppercase;
    font-family: Pop-bold;
    font-size: 16px;
    padding: 3px;
    margin-left: 10px;
}
.menu__item-footer:hover {
    color: #ffcc00;
    transition: 0.3s;
}
.menu__item-footer-1:hover {
    color: #017edf;
    transition: 0.3s;
}
.menu__item-footer-2:hover {
    color: #ea4c89;
    transition: 0.3s;
}
.menu__item-footer-3:hover {
    color: #017edf;
    transition: 0.3s;
}
.menu__item-footer-4:hover {
    color: #c71610;
    transition: 0.3s;
}
.menu__item-footer-5:hover {
    color: #1faee9;
    transition: 0.3s;
}
.footer__img {
    position: relative;
    z-index: 2;
}
.footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 311px;
    background:  #ba0000;
    z-index: 10;
}
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 311px;
    background:  #ffcc00;
    z-index: 10;
}
/*адаптация*/
@media screen and (max-width: 1500px) {
    .services__title__back {
        display: none;
    }
    .card-main {
        margin-right: 25px;
    }
    .provider__title {
        padding: 0px 60px;
    }
}
@media screen and (max-width: 1350px) {
    .container {
        width: 80%;
        max-width: 1350px;
    }
    .menu__nav {
        flex-wrap: wrap;
    }
    .cards {
        flex-wrap: wrap;
    }
    .services__card_1 {
        margin: auto;
        margin-top: 70px;
        width: 100%;
        max-width: 600px;
    }
    .services__button {
        margin-top: 140px;
    }
    .card-main {
        margin-right: 5px;
    }
    .services__title {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 1220px) {
    .card__main__none {
        display: none;
    }
    .services__card_1 {
        margin: auto;
        margin-top: 70px;
    }
    .cards {
        justify-content: space-around;
    }
}
@media screen and (max-width: 1120px) {
    .button__excel {
        margin-top: 40px;
        text-align: right;
        align-items: flex-end;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 800px) {
    .firms__block {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 610px) {
    .hero__bittons {
        text-align: right;
        align-items: flex-end;
    }
    .primary__margin {
        margin: 0;
    }
    .button-margin {
        margin-top: 30px;
        margin-left: 30px;
    }
    .cards__button {
        text-align: right;
        align-items: flex-end;
    }
}
